<h2><%= @task.name %></h2>

<div>
  Recurring?
  <% if @task.recurrence.present? %>
    <p><i class="fa fa-check" aria-hidden="true"></i> Yes</p>
  <% else %>
    <p> <i class="fa fa-times" aria-hidden="true"></i> No</p>
  <% end %>
</div>

<div>

</div>


<div>
  Responsible:
  <ul>
    <% @task.users.each do |user| %>
      <li><i class="fa fa-user" aria-hidden="true"></i> <%= user.first_name %></li>
    <% end %>
  </ul>
</div>

