<div class="navbar">
  <div class="navbar-element">
    <%= link_to root_path do %>
      <i class="fa fa-home"></i> Home
    <% end %>
  </div>
  <div class="navbar-element">
    <div class="navbar-subelement">
      <% if current_user.present? && current_user.admin? %>
        <i class="fa fa-unlock-alt" aria-hidden="true"></i> You're logged in as admin
      <% end %>
    </div>
    <div class="navbar-subelement">
      <%= link_to destroy_user_session_path, method: :delete do %>
        <i class="fa fa-sign-out"></i>  Log out
      <% end %>
    </div>
  </div>
</div>
